@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,600&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}
.form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

input,textarea {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background: none;
    padding: 10px 0;
}

input:focus,textarea:focus {
    border-bottom: 2px solid green;
}

.subject {
    grid-column: span 2;
}
textarea {
    grid-column: span 2;
    resize: none;
}

i {
    color: red;
}