*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toggle {
    width: 56px;
    height: 32px;
    position: relative;
    display: block;
    margin: 10px;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: grey;
    border-radius: 16px 10px;
    transition: 0.7s;
}

input{
    height: 0;
    width: 0;
    display: none;
}

.slider::before {
    content: '';
    position: absolute;
    background-color: white;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: 0.3s;
}

.toggle:has(:hover,:focus) .slider::before {
    scale: 1.07;
}

.toggle:has(input:checked) .slider {
    border-radius: 10px 16px;
}

.toggle:has(input:checked) .slider::before{
    translate: 100%;
}

.toggle:has(input:checked) .slider{
    background-color: green;
}

.on, .off {
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    margin-left: 4px;
    color: white;
    font-size: 12px;
    display: none;
    transition:all .4s;
}

.off {
    display: inline-block;
    right: 4px;
    color: white
}

.toggle:has(input:checked) .off {
    display: none;
}

.toggle:has(input:checked) .on {
    display: inline-block;
}